@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.container-landing {
  margin: 100px auto;
  width: 1280px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-content-left {
  background: linear-gradient(
    90deg, white
  );
  border-radius: 10px 0 0 10px;
  position: relative;
}

.landing-img {
  width: 125%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}

.form-content-right {
  border-radius: 50px 0px 0px 50px;
  position: relative;
  background: white;
}

.landing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-title{
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.landing h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);;
}

.landing h1 {
  float: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  color: #D51100;
}

.form-inputs {
  margin-bottom: 18px;
  width: 80%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 6px;
  color: black;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  border-radius: 15px;
  background: #D51100;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.button-landing {
  display: grid;
  text-align: center;
  align-content:center;
  width: 228px;
  height: 62px;
  margin-right: 15px;
  border-radius: 15px;
  background: #fff;
  font-weight: bold;
  outline-color: #D51100;
  border: 1px solid #D51100;
  color: #D51100;
  font-size: 1rem;
}

.button-landing:hover {
  cursor: pointer;
  background: #D51100;
  color: #fff;
}

.form-input-btn:hover {
  cursor: pointer;
  background: #D51100;
  transition: all 0.4s ease-out;
}

.form-input-login {
  font-size: 0.8rem;
  margin-top: 10px;
  color: black;
  width: 80%;
  text-align: center;
}

.form-input-login a {
  text-decoration: none;
  color: #D51100;
  font-weight: 600;
}
